<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        <%= htmlWebpackPlugin.options.title %>

    </title>
</head>

<body>
    <section>
        <div class="wraper">

            <p style="background-color: #262d3d;">Tabane Shahr</p>

            <h1>Welcome to this page !</h1>
            <br>
            <div id="demo"></div>
            <br><br>
            <div>

                <ul>
                    <a href="./one.html">
                        <li>One</li>
                    </a>
                    <a href="./two.html">
                        <li>Two</li>
                    </a>



                </ul>
                <!-- <img src="./src/img.png" alt=""> -->
                <!-- <img src="<%= require('./src/img.png' ) %>"> -->
                <br>
                <div id="img1"></div>


            </div>

    </section>



    <script src=" ../src/engine.js "></script>

</body>

</html>