 body {
     background-color:rgba(0, 0, 0, 0.76);
     text-align: center;
     margin: 0;
     padding: 0;
 }
 
 p {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: wheat;
     margin: 100 10 10 10px;
     font-size: 60px;
 }
 
 h1 {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .wraper {
     width: 2000px;
     height: 510px;
     background-color: burlywood;
     border: 2px solid wheat;
     border-radius: 4px;
     margin: 100 20 20 20px;
 }
 
 section {
     display: flex;
     justify-content: center;
     text-align: center;
 }
 
 #demo {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 50px;
 }
 
 ul {
     display: flex;
     justify-content: center;
     text-align: center;
 }
 
 li {
     margin-left: 40px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 40px;
     list-style-type: none;
     margin: 0 auto;
     padding: 20px;
 }
 
 a {
     text-decoration: none;
     color: rgb(6, 6, 63);
 }
 
 a:hover {
     background-color: rgb(231, 134, 43);
     color: antiquewhite;
     border: 1px solid wheat;
 }
 
 #img1 {
     width: 100%;
     height: 100%;
     
 }

 .img1Src{
     border-radius: 500px 20px 300px 20px;
     width: 60%;
 }